<div
  [ngClass]="store.currentSentence().classes || []"
  [innerHTML]="'<div>' + store.output() + '</div>'"
></div>
<br />
{{ store.currentSentence().text }}
<br />

@if(!store.isPrinting() && !store.currentSentence().chainNext &&
!store.currentSentence().actions) {
<button (click)="store.nextSentence()">Next</button>
}

<br />

@if(!store.isPrinting() && store.currentSentence().actions; as actions) {
<ng-container>
  @for (action of actions; track $index) {
  <button (click)="runSentenceCallback(action.callback)">
    {{ action.label }}
  </button>
  }
</ng-container>
}
